/* src/components/Home.css */

body {
  background-color: black;
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Using Montserrat as an example */
  color: white;
}

* {
  box-sizing: border-box;
}

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* This ensures the content area takes up all available space */
  padding: 20px;
}

.home-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin: 20px 0;
}

h2 {
  font-size: 2em;
  margin: 20px 0;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

.upcoming-release {
  margin: 20px 0;
}

.releases {
  margin-bottom: 20px;
}

.instagram-reels {
  margin: 20px 0;
}

.social-media-links {
  margin: 20px 0;
}


/* Add this to initialize AOS */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: none;
}
